.alert-part {
	margin-top: 30px;
    margin-bottom: 30px;
	max-width: 100%;
	min-width: 310px;
	margin-bottom: 50px;
    height: 60px;
}

.button-class {
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
    cursor: pointer;
}

.button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #3583d6;
}

.button1:hover {
    background-color: #3583d6;
    color: white;
}

p {
	line-height: 2em;
	margin-bottom: 20px;
	font-size: 27px;
	color: #3583d6;
}

.select-style {
    border: 2px solid #3583d6;
    border-radius: 3px;
    overflow: hidden;
    text-align: center;
    margin-left: 10px;
    font-size: 20px;
    background: #fafafa no-repeat 90% 50%;
    outline: none;
    margin-right: 10px;
    height: 50px;
}

.text {
    border-radius: 3px;
	border: 2px solid #3583d6;
    overflow: hidden;
    text-align: center;
    margin-left: 10px;
    padding: 16px;
    margin-right: 10px;
    font-size: 16px;
    width: 15%;
}

.set-part {
	display: none;
}

.alert-info {
    text-align: center;
    margin-bottom: 20px;
    margin-top: -30px;
    padding-top: 0px;
}

.highcharts-menu hr {
    display: none;
}

.highcharts-menu .highcharts-menu-item {
    font-size: 13px !important;
}

.highcharts-credits {
    display: none;
}