p {
	line-height: 2em;
	margin-bottom: 20px;
	font-size: 27px;
	color: #26a69a;
	display: inline-block;
}

.select-style {
    border: 2px solid #26a69a;
    width: 25%;
    border-radius: 3px;
    overflow: hidden;
    text-align: center;
    margin-left: 10px;
    display: inline-block;
    font-size: 20px;
    background: #fafafa no-repeat 90% 50%;
    outline: none;
    padding-bottom: 6px;
    height: 40px;
}


.button-class {
    padding: 9px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 10px;
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
    cursor: pointer;
}

.button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #26a69a;
}

.button1:hover {
    background-color: #26a69a;
    color: white;
}