.owl-carousel {
	margin-top: 50px;
}

.owl-item {
	background: #36486b;
	height: 220px;
}
.owl-item .item {
	margin-top: 35%;
	text-align: center;
	display: inline-block;
}

.owl-item .item h4 {
	text-align: center;
}

a {
	text-decoration: none;
}

.item a {
	color: white;
}

.item a:hover {
	text-decoration: underline;
}