.owl-carousel {
	margin-top: 50px;
}

.owl-item {
	background: #26a69a;
	height: 220px;
}
.owl-item .item {
	margin-top: 35%;
	text-align: center;
	display: inline-block;
}

.owl-item .item h4 {
	text-align: center;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}