.results tr[visible='false'],
.no-result{
  display: none;
}

.results tr[visible='true']{
  display: table-row;
}

.counter{
  padding:8px; 
  color:#ccc;
}

.form-group {
	margin-top: 60px;
}

tr:hover {
	background-color: #edf0f3;
}

table tbody, table thead
{
    display: -moz-stack;
    width: 100%;
}

table {
	background-color: #fff;
}

tbody {
 	height: 400px;
	overflow: auto;
}

.col-md-5 {
	width: 59%;
}

.sym {
	width: 16%;
}

.col-md-4 {
	width: 13%;
}