<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Register/Log-in</title>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="application/javascript" src="/javascripts/account.js"></script>
    <link rel="stylesheet" href="/stylesheets/account.css" media="screen" type="text/css">
  </head>
  <body>
    <div name="first_div" class="login-page">
      <div name="second_div" class="form">
        <form name="register-from" method="POST" action="/account" class="register-form">
          <input type="text" name="name">
          <input type="password" name="password">
          <input type="text" name="email address">
          <button>create</button>
          <p class="message">Already registered? <a href="#">Sign In</a></p>
        </form>
        <form name="login-from" method="post" action="/account" class="login-form">
          <input type="text" name="username">
          <input type="password" name="password">
          <button>login</button>
          <p class="message">Not registered? <a href="#">Create an account</a></p>
        </form>
      </div>
    </div>
  </body>
</html>