<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <title>Real Time Finance Analyzer</title>
    <link rel="stylesheet" href="/stylesheets/style-home.css" type="text/css" />
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
</head>

<body>

    <section id="body" class="width">
        <aside id="sidebar" class="column-left">

            <header>
                <h1><a href="#">Finance Analyzer</a></h1>

                <h2>Welcome to my website!</h2>
                
            </header>

            <nav id="mainnav">
                <ul>
                    <li class="selected-item"><a href="/">Home</a></li>
                    <li><a href="#">Portofolio</a></li>
                    <li><a href="account">Sign In</a></li>
                    <li><a href="account">Create Account</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
        </aside>

        </section>

    </section>
    

</body>
</html>
