doctype html
html
  head
    meta(charset='UTF-8')
    title Register/Log-in
    script(src='http://code.jquery.com/jquery-1.11.0.min.js')
    script(type='application/javascript', src='/javascripts/account.js')
    link(rel='stylesheet', href='/stylesheets/account.css', media='screen', type='text/css')
  body
    .login-page(name='first_div')
      .form(name='second_div')
        form.register-form(name='register-from', method='POST', action='/account')
          input(type='text', name='name')
          input(type='password', name='password')
          input(type='text', name='email address')
          button create
          p.message
            | Already registered? 
            a(href='#') Sign In
        form.login-form(name='login-from', method='post', action='/account')
          input(type='text', name='username')
          input(type='password', name='password')
          button login
          p.message
            | Not registered? 
            a(href='#') Create an account
