doctype html
html
	head
		title Real Time Finance Analyzer
		meta(http-equiv='Content-Type', content='text/html; charset=iso-8859-1')
		meta(name='viewport', content='width=device-width, minimum-scale=1.0, maximum-scale=1.0')
		script(src='https://code.jquery.com/jquery-3.1.1.min.js')
		script(src='https://code.highcharts.com/stock/highstock.js')
		script(src='https://code.highcharts.com/stock/modules/exporting.js')
		script(type='application/javascript', src='/javascripts/theme.js')
		script(type='application/javascript', src='/javascripts/details.js')
		link(rel='stylesheet', href='/stylesheets/details.css', type='text/css')

	body
		include navigation
		section#content 
			.alert-part.alert-info(hidden)
				p Alert was set      
			#container
			.alert-part
				button.button-class.button1.create-btn
					| Create new alert
				p.set-part Set alert on price
				select.select-style.set-part
					option bigger
					option smaller
				p.set-part than
				input.text.set-part(type='text')
				button.button-class.button1.set-btn.set-part
					| Set alert
				button.button-class.button1.cancel-btn.set-part
					| Cancel	
			include news