doctype html
html
	head
		title Real Time Finance Analyzer
		meta(http-equiv='Content-Type', content='text/html; charset=iso-8859-1')
		meta(name='viewport', content='width=device-width, minimum-scale=1.0, maximum-scale=1.0')
		script(src='https://code.jquery.com/jquery-3.1.1.min.js')
		script(src='https://code.highcharts.com/stock/highstock.js')
		script(src='https://code.highcharts.com/stock/modules/exporting.js')
		script(type='application/javascript', src='/javascripts/theme.js')
		script(type='application/javascript', src='/javascripts/details.js')

	body
		include navigation
		section#content       
			#container