doctype html
html
	head
		title Real Time Finance Analyzer
		meta(name='viewport', content='width=device-width, minimum-scale=1.0, maximum-scale=1.0')
		script(src='https://code.jquery.com/jquery-3.1.1.min.js')
		script(src='http://code.highcharts.com/highcharts.js')
		script(src='https://code.highcharts.com/modules/exporting.js')
		script(type='application/javascript', src='/javascripts/home.js')
		link(rel='stylesheet', href='/stylesheets/home.css', type='text/css')
	body
		include navigation
		section#content
			#container
			include table
			