link(rel='stylesheet', href='/stylesheets/navigation.css', type='text/css')
link(href='/stylesheets/additional-css/bootstrap-combined.no-icons.min.css', rel='stylesheet')
link(href='/stylesheets/additional-css/font-awesome.css', rel='stylesheet')
script(type='application/javascript', src='/javascripts/navigation.js')
- local_data = JSON.stringify(session)
		input(type='hidden', value=local_data)#myLocalDataObj
		section#body.width
			.navbar
				- if (typeof session !== 'undefined' && typeof session.username !== 'undefined')
					a#user(href='')
						i.icon-fixed-width.icon-user
						| #{session.username}
					a(href='logout')
						i.icon-fixed-width.icon-signout
						| Logout
				- else
					a(href='account')
						i.icon-fixed-width.icon-signin
						| Sign In
			aside#sidebar.column-left
				header
					h1
						a(href='')
							span(style='font-size: 63px; display: block;') Finance
							| Analyzer
					- if (typeof session !== 'undefined' && typeof session.username !== 'undefined')  
						h2 Welcome to my website,  #{session.username}!
					- else
						h2 Welcome to my website!
				nav#mainnav
					ul
						li#home.selected-item
							a(href='/home')
								i.icon-fixed-width.icon-home
								| Home
						li#portofolio
							a(href='/portofolio')
								i.icon-fixed-width.icon-bar-chart
								| Portofolio
						li#details
							a(href='details')
								i.icon-fixed-width.icon-expand
								| Company Details
						li#news
							a(href='news')
								i.icon-fixed-width.icon-rss
								| News
						li#contact
							a(href='contact') 
								i.icon-fixed-width.icon-list-alt
								| Contact