link(rel='stylesheet', href='/stylesheets/navigation.css', type='text/css')
script(type='application/javascript', src='/javascripts/navigation.js')
- local_data = JSON.stringify(session)
		input(type='hidden', value=local_data)#myLocalDataObj
		section#body.width
			.navbar
				- if (typeof session !== 'undefined' && typeof session.username !== 'undefined')
					a#user(href='') #{session.username}
					a(href='logout') Logout
				- else
					a(href='account') Sign In
			aside#sidebar.column-left
				header
					h1
						a(href='')
							span(style='font-size: 63px; display: block;') Finance
							| Analyzer
					- if (typeof session !== 'undefined' && typeof session.username !== 'undefined')  
						h2 Welcome to my website,  #{session.username}!
					- else
						h2 Welcome to my website!
				nav#mainnav
					ul
						li#home.selected-item
							a(href='/home') Home
						li#portofolio
							a(href='/portofolio') Portofolio
						li#details
							a(href='details') Company Details
						li
							a(href='news') News
						li
							a(href='#') Contact