doctype html
html
	head
		title Real Time Finance Analyzer
		meta(name='viewport', content='width=device-width, minimum-scale=1.0, maximum-scale=1.0')
		script(src='https://code.jquery.com/jquery-3.1.1.min.js')
		script(type='application/javascript', src='/javascripts/news-section.js')
		link(rel='stylesheet', href='/stylesheets/news-section.css', type='text/css')
	body
		include navigation
		section#content