link(rel='stylesheet', href='/owl.carousel/dist/assets/owl.carousel.css')
link(rel='stylesheet', href='/owl.carousel/dist/assets/owl.theme.default.css')
link(rel='stylesheet', href='/stylesheets/news.css', media='screen', type='text/css')
script(type='application/javascript', src='/owl.carousel/dist/owl.carousel.js')
script(type='application/javascript', src='/javascripts/news.js')

.owl-carousel.owl-theme
  .item.item1
    h4 1
  .item.item2
    h4 2
  .item.item3
    h4 3
  .item.item4
    h4 4
  .item.item5
    h4 5
  .item.item6
    h4 6
  .item.item7
    h4 7
  .item.item8
    h4 8
  .item.item9
    h4 9
  .item.item10
    h4 10